<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./images/shared/templates/galaxy-training.png" alt="" height="45px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

       <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">

        @for(item of menuSections; track item){
          @if(item.route) {
          <li class="nav-item">
            <a class="nav-link" [routerLink]="item.route">{{ item.label }}</a>
          </li>
          }
          @else if(item.children) {
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{
              item.label }}</a>
            <ul class="dropdown-menu dropdowDesing">
              @for(subItem of item.children; track subItem) {
              @if(subItem.route) {
              <li><a class="dropdown-item" [routerLink]="subItem.route">{{ subItem.label }}</a></li>
              }
              @else if(subItem.action) {
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#" (click)="subItem.action()">{{ subItem.label }}</a></li>
              }
              }
            </ul>
          </li>
          }
        }
      </ul>
      <form class="d-flex" role="search">
        <div class="row d-flex justify-content-between">

          <div class="col-auto">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-links" aria-current="page" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                  </svg>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-links" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                  </svg>
                  <div style="color: blue;">{{productSelectCount}}</div>
                </a>
              </li>
              <li class="nav-item">
                <div class="header__user">
                  <div class="header__user__circle">
                    C
                  </div>
                  <div class="header__user__detalle">
                    <h5>Carlos Mendoza</h5>
                    <small>{{ 'correo@email.com' }}</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
