<div class="row">
  <div class="col-12 col-sm mb-3">
    <h2 class="main__title">Dashboard</h2>
    <div class="main__description">Métricas en tiempo real</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card__panel active">
      <section>
        <h4 class="card__title">Total de Reservas</h4>
        <div class="card__number">3</div>
        <span class="card__description">Cierre del mes Julio</span>
      </section>
      <section>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="card__svg">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </section>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card__panel">
      <section>
        <h4 class="card__title">Reservas activos</h4>
        <div class="card__number">1</div>
        <span class="card__description">Cierre del mes Julio</span>
      </section>
      <section>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="card__svg">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </section>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card__panel">
      <section>
        <h4 class="card__title">Finalizadas</h4>
        <div class="card__number">1</div>
        <span class="card__description">Cierre del mes Julio</span>
      </section>
      <section>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="card__svg">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </section>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card__panel">
      <section>
        <h4 class="card__title">Canceladas</h4>
        <div class="card__number">0</div>
        <span class="card__description">Cierre del mes Julio</span>
      </section>
      <section>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="card__svg">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </section>
    </div>
  </div>
</div>
