<div class="booking-login-wrapper">
  <div class="booking-login-container">
    <div class="booking-login-box">
      <div class="login-header">
        <img
          src="./images/shared/templates/booking-logo.png"
          alt="Logo Booking"
          height="25px"
        />
        <p class="login-subtitle">
          Inicia sesión para acceder a tu cuenta y descubrir las mejores ofertas
          de viaje
        </p>
      </div>
      <hr />
      <form>
        <!-- Usuario / Email -->
        <div class="booking-form-group">
          <label for="usuario" class="booking-label">Correo electrónico</label>
          <input
            type="email"
            class="booking-input"
            id="usuario"
            placeholder="Ingresa tu correo electrónico"
          />
        </div>

        <!-- Contraseña -->
        <div class="booking-form-group">
          <label for="contrasenia" class="booking-label">Contraseña</label>
          <input
            type="password"
            class="booking-input"
            id="contrasenia"
            placeholder="Ingresa tu contraseña"
          />
          <div class="booking-helper-text">
            <a href="#" class="booking-link">¿Olvidaste tu contraseña?</a>
          </div>
        </div>

        <!-- Botón -->
        <div class="booking-button-group">
          <button type="button" (click)="login()" class="booking-button">
            Iniciar sesión
          </button>
        </div>
<br>
        <p>Al iniciar sesión o al crear una cuenta, aceptas nuestros Términos y condiciones y la Política de privacidad</p>
      </form>
    </div>
  </div>
</div>
